.hero {
    &.has-background {
        position: relative;
        // overflow: hidden;
    }
    &-background {
        position: absolute;
        object-fit: cover;
        object-position: bottom;
        width: 128%;
        height: 128%;
        &.is-transparent {
            opacity: 1;
        }
    }
}